<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <!--<head th:replace="inc/head.inc::head"></head>-->
    <head>
        <!--<meta charset="UTF-8">
        <title>List food</title>-->
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>


        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">

        <script src="/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>

        <!-- FRAGMENT # 1: Service Information (without Title) -->
        <!-- Service Information (Head Block) Without Title START -->
        <div th:replace="~{fragments/commonPartsAdmin :: serviceInfo}"></div>
        <!-- Service Information (Head Block) Without Title END -->

    </head>
    <body>

        <!-- FRAGMENT # 2: IE8 + Header + Page Title -->
        <!-- For IE8 Block, Header and Page Title START -->
        <div th:replace="~{fragments/commonPartsAdmin :: header}"></div>
        <!-- For IE8 Block, Header and Page Title END -->

        <!--<div class="login-area">
            <div class="container">
                <div class="blog-area">
                    <div class="tb-content7">
                        <a class="blog7" href="/client/foods">Перейти в клиентское Меню</a>
                        <a class="blog7" href="/admin/foods">Перечень блюд</a>
                        <a class="blog7" href="/admin/food/add">Добавить блюдо</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="tb-login-form ">
                            <h5 class="tb-title">Данные для блюда</h5>
                            <form th:action="${formAction}" th:object="${food}" method="post" >
                                <p class="checkout-coupon top log a-an">
                                    <label class="l-contact" for="title">Наименование <em>*</em></label><br/>
                                    <input type="text" th:field="*{name}" placeholder="Наименование" required="required" class="form-control" id="title" autofocus="autofocus" />
                                    &lt;!&ndash;<input type="text" th:field="*{name}" placeholder="Название" required="required" class="form-control"/>&ndash;&gt;
                                </p>
                                <p class="checkout-coupon top-down log a-an">
                                    <label class="l-contact" for="foodType">Категория</label><br/>
                                    &lt;!&ndash;<input type="password" class="form-control" id="password" name="password" placeholder="Пароль"/>&ndash;&gt;
                                    <select th:field="*{foodTypeId}" required="required" id="foodType" class="form-control">
                                        <option th:each="foodType, iterator : ${foodTypesList}" th:value="${foodType.id}" th:text="${foodType.name}" />
                                    </select>
                                </p>
                                <p class="checkout-coupon top-down log a-an">
                                    <label class="l-contact" for="description">Описание</label><br/>
                                    <input type="text" th:field="*{description}" id="description" placeholder="Описание" required="required" class="form-control"/>
                                    &lt;!&ndash;<input type="password" class="form-control" id="password" name="password" placeholder="Пароль"/>&ndash;&gt;
                                </p>
                                <p class="checkout-coupon top-down log a-an">
                                    <label class="l-contact" for="weight">Вес</label><br/>
                                    <input type="text" th:field="*{weight}" id="weight" placeholder="Вес" required="required" class="form-control"/>
                                    &lt;!&ndash;<input type="password" class="form-control" id="password" name="password" placeholder="Пароль"/>&ndash;&gt;
                                </p>
                                <p class="checkout-coupon top-down log a-an">
                                    <label class="l-contact" for="price">Цена</label><br/>
                                    <input type="text" th:field="*{price}" id="price" placeholder="Цена" required="required" class="form-control"/>
                                    &lt;!&ndash;<input type="password" class="form-control" id="password" name="password" placeholder="Пароль"/>&ndash;&gt;
                                </p>
                                <p class="checkout-coupon top-down log a-an">
                                    <label class="l-contact" for="file">Изображение</label><br/>
                                    <input type="file" name="file" id="file" placeholder="Изображение" class="form-control"/>
                                    &lt;!&ndash;<input type="password" class="form-control" id="password" name="password" placeholder="Пароль"/>&ndash;&gt;
                                </p>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input id="imgName" type="hidden" th:field="*{image}"/>
                                    <img id="imgRes" th:src="@{'/images/' + ${food.image}}" width="75" height="50"/>
                                    <button id="imgDeleteBtn" type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="forgot-password1">
                                    <label class="inline2">
                                        <input type="checkbox" th:field="*{active}" placeholder="Опубликовать"/>
                                        &lt;!&ndash;<input type="checkbox" id="remember-me" name="remember-me">&ndash;&gt;
                                        Опубликовать
                                    </label>
                                    &lt;!&ndash;<a class="forgot-password" href="#">Forgot Your password?</a>&ndash;&gt;
                                </div>
                                <button type="submit" class="btn btn-dark submit">Сохранить</button>
                                &lt;!&ndash;<div class="buttons clearfix">
                                    <div class="pull-left">
                                        <a class="btn btn-default ce5" href="/admin/foods">Отмена</a>
                                    </div>
                                    &lt;!&ndash;<div class="pull-right">
                                        <input class="btn btn-primary ce5" type="submit" value="Сохранить">
                                    </div>&ndash;&gt;
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary submit">Сохранить</button>
                                    </div>
                                </div>&ndash;&gt;
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />-->

        <div class="container">
            <!--<div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <h1>Добавление/Редактирование Блюда/Удаление</h1>
                    </div>
                </div>
            </div>-->
            <!--/.page-header-->

            <div class="bs-docs-section">
                <div class="row">
                    <br />
                    <br />
                    <form th:action="${formAction}" th:object="${food}" method="post" enctype="multipart/form-data">
                        <!--                <form th:object="${food}" method="post">-->
                        <!--                <input type="hidden" th:field="*{id}" />-->

                        <div class="form-group mx-sm-3 mb-2">
                            Название:
                            <input type="text" th:field="*{name}" placeholder="Название" required="required"
                                   class="form-control"/>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            Id типа блюда:
                            <!--                    <input type="text" th:field="*{foodTypeId}" placeholder="Id типа блюда" required="required"-->
                            <!--                           class="form-control"/>-->

                            <select th:field="*{foodTypeId}" required="required" class="form-control">
                                <option th:each="foodType, iterator : ${foodTypesList}" th:value="${foodType.id}"
                                        th:text="${foodType.name}"/>

                            </select>

                            <!--                    <input type="text" th:field="*{foodTypeId}" placeholder="Id типа блюда" required="required"-->
                            <!--                           class="form-control"/>-->
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            Описание:
                            <input type="text" th:field="*{description}" placeholder="Описание" required="required"
                                   class="form-control"/>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            Вес:
                            <input type="text" th:field="*{weight}" placeholder="Вес" required="required" class="form-control"/>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            Цена:
                            <input type="text" th:field="*{price}" placeholder="Цена" required="required" class="form-control"/>
                        </div>
                        <!--                <div class="form-group mx-sm-3 mb-2">-->
                        <!--                    Имя файла изображения:-->
                        <!--                    &lt;!&ndash;                    <input type="file" name="file" />&ndash;&gt;-->
                        <!--                    <input type="text" th:field="*{image}" placeholder="Изображение" required="required" class="form-control" />-->
                        <!--                </div>-->
                        <div class="form-group mx-sm-3 mb-2">
                            Изображение:
                            <input type="file" name="file" placeholder="Изображение" class="form-control"/>
                        </div>


                        <div class="form-group mx-sm-3 mb-2">
                            <input id="imgName" type="hidden" th:field="*{image}"/>
                            <img id="imgRes" th:src="@{'/images/' + ${food.image}}" width="75" height="50"/>
                            <button id="imgDeleteBtn" type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                            Публиковать:
                            <input type="checkbox" th:field="*{active}" placeholder="Публиковать"/>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-dark submit">Сохранить</button>
                        </div>
                    </form>
                    <br />
                    <br />
                </div>
                <!-- /.row -->
            </div>
            <!-- /.bs-docs-section -->

        </div>

        <!-- FRAGMENT # 3: Footer + JS -->
        <!-- Footer and JS Including START -->
        <div th:replace="~{fragments/commonPartsAdmin :: footer}"></div>
        <!-- Footer and JS Including END -->

        <script type="text/javascript">
            $(document).ready(function () {
                $('#imgDeleteBtn').on('click', function () {
                    $('#imgName').val('');
                    $('#imgRes').attr('src', '');
                });
            });
        </script>
    </body>
</html>