<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8">
        <title>Ошибка доступа | Rollup</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link href="../static/css/style1.css" th:href="@{/css/style1.css}" rel="stylesheet"/>

        <!-- FRAGMENT # 1: Service Information -->
        <!-- Service Information (Head Block) START -->
        <div th:replace="~{fragments/commonPartsUser :: serviceInfo}"></div>
        <!-- Service Information (Head Block) END -->
    </head>
    <body>
        <!-- FRAGMENT # 2: IE8 + Header + Page Title -->
        <!-- For IE8 Block, Header and Page Title START -->
        <div th:replace="~{fragments/commonPartsUser :: header}"></div>
        <!-- For IE8 Block, Header and Page Title END -->

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="con-text">
                            <h2>Ошибка доступа</h2>
                            <!--<p><a href="/">Главная</a> | Наименование раздела</p>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="pageStyle">
                            <!--<div th:replace="fragments/menu1.html"></div>-->
                            <h4 class="alert alert-danger" role="alert">
                                У вас нет доступа к этой странице<br/>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FRAGMENT # 3: Footer + JS -->
        <!-- Footer and JS Including START -->
        <div th:replace="~{fragments/commonPartsUser :: footer}"></div>
        <!-- Footer and JS Including END -->
    </body>
</html>