<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Перечень категорий в меню | Rollup</title>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link href="../static/css/style1.css" th:href="@{/static/css/style1.css}" rel="stylesheet"/>

        <!-- FRAGMENT # 1: Service Information -->
        <!-- Service Information (Head Block) START -->
        <div th:replace="~{fragments/commonPartsAdmin :: serviceInfo}"></div>
        <!-- Service Information (Head Block) END -->
    </head>
    <body>
        <!-- FRAGMENT # 2: IE8 + Header + Page Title -->
        <!-- For IE8 Block, Header and Page Title START -->
        <div th:replace="~{fragments/commonPartsAdmin :: header}"></div>
        <!-- For IE8 Block, Header and Page Title END -->

        <div class="pageStyle">

            <a href="/admin/listmenu">Перечень меню</a>
            <br/>

            <h4> Перечень категорий в меню </h4>
            <table width="100%" class="table">
                <thead>
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> Название </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${listmenufoodtype.isEmpty()}">
                    <td colspan="2"> Нет категорий для отображения </td>
                </tr>
                <tr th:each="item : ${listmenufoodtype}">
                    <td scope="row">
                        <span th:text="${item.getId()}"> </span>
                    </td>
                    <td>
                        <span th:text="${item.getName()}"> </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- FRAGMENT # 3: Footer + JS -->
        <!-- Footer and JS Including START -->
        <div th:replace="~{fragments/commonPartsAdmin :: footer}"></div>
        <!-- Footer and JS Including END -->
    </body>
</html>